:root {
  --brown: #ad4c15;
  --light-grey: #eff1f5;
  --light-orange: #ffead1;
  --border-radius: 25px;
  --light-green: #dbeedb;
  --light-blue: #d0e4ff;
  --light-pink: #fee4ea;
  --green: #249a24;
  --blue: #0d60c7;
  --orange: #ff9225;
  --pink: #fc6a8e;
  --light-brown: #fff7ee;
  --grey: #b1b4bf;
  --black: #1e1e1e;
  --light-black: #8c909b;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: var(--black);
}

/* General */
button {
  transition: all 500ms ease;
}

button:hover {
  cursor: pointer;
  transition: all 500ms ease;
}

/* Header */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 2rem;
  background-color: var(--light-brown);
}

.navbar > div {
  display: flex;
  gap: 1rem;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
}

.paw-print {
  fill: var(--brown);
  color: var(--brown);
}

.scores-container {
  flex-wrap: wrap;
}

/* Level Selector */
.level-selector {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-self: center;
  margin: auto;
  padding: 5rem;
  background-color: var(--light-grey);
  border-radius: var(--border-radius);
}

.close {
  display: none;
}

.section-title {
  font-size: 2.5rem;
  font-weight: bold;
}

.levels {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}

button.easy,
button.medium,
button.hard,
button.impossible {
  padding: 1rem 2rem;
  border-radius: var(--border-radius);
}

button.easy {
  background-color: var(--light-green);
  border: 1px solid var(--light-green);
}

button.easy:hover {
  border: 1px solid var(--green);
}

button.medium {
  background-color: var(--light-blue);
  border: 1px solid var(--light-blue);
}

button.medium:hover {
  border: 1px solid var(--blue);
}

button.hard {
  background-color: var(--light-orange);
  border: 1px solid var(--light-orange);
}

button.hard:hover {
  border: 1px solid var(--orange);
}

button.impossible {
  background-color: var(--light-pink);
  border: 1px solid var(--light-pink);
}

button.impossible:hover {
  border: 1px solid var(--pink);
}

/* Memory Game */
.memory-game {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
  width: 100%;
}

.card {
  padding: 1rem;
  border-radius: var(--border-radius);
  height: 300px;
  background-color: var(--light-grey);
  border: 1px solid var(--light-grey);
}

.card:hover {
  border: 1px solid var(--grey);
}

.card > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--border-radius);
}

/* New Game */
.new-game {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  margin: auto;
  padding: 5rem;
  background-color: var(--light-grey);
  border-radius: var(--border-radius);
}

section .scores-container {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  font-size: 1.5rem;
}

.buttons-container {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}

.new-game-button {
  padding: 1rem 2rem;
  border-radius: var(--border-radius);
  background-color: var(--black);
  border: 1px solid var(--black);
  color: #fff;
}

.new-game-button:hover {
  background-color: var(--light-black);
}

.change-level-button {
  padding: 1rem 2rem;
  border-radius: var(--border-radius);
  background-color: var(--light-black);
  border: 1px solid var(--black);
  color: #fff;
}
