:root {
  --brown: #ad4c15;
  --light-grey: #eff1f5;
  --light-orange: #ffead1;
  --border-radius: 25px;
  --light-green: #dbeedb;
  --light-blue: #d0e4ff;
  --light-pink: #fee4ea;
  --green: #249a24;
  --blue: #0d60c7;
  --orange: #ff9225;
  --pink: #fc6a8e;
  --light-brown: #fff7ee;
  --grey: #b1b4bf;
  --black: #1e1e1e;
  --light-black: #8c909b;
  --s-gap: 1rem;
  --m-gap: 2rem;
  --l-gap: 3rem;
  --xl-gap: 5rem;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: var(--m-gap);
  color: var(--black);
}

/* General */
button {
  transition: all 500ms ease;
}

button:hover {
  cursor: pointer;
  transition: all 500ms ease;
}

/* Header */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--s-gap);
  padding: var(--m-gap);
  background-color: var(--light-brown);
}

.navbar > div {
  display: flex;
  gap: var(--s-gap);
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
}

.paw-print {
  fill: var(--brown);
  color: var(--brown);
}

.scores-container {
  flex-wrap: wrap;
}

/* Level Selector */
.level-selector {
  display: flex;
  flex-direction: column;
  gap: var(--s-gap);
  align-self: center;
  margin: auto;
  padding: var(--xl-gap);
  background-color: var(--light-grey);
  border-radius: var(--border-radius);
}

.close {
  display: none;
}

.section-title {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
}

.levels {
  display: flex;
  gap: var(--s-gap);
  justify-content: center;
  flex-wrap: wrap;
}

button.easy,
button.medium,
button.hard,
button.impossible {
  padding: var(--s-gap) var(--m-gap);
  border-radius: var(--border-radius);
}

button.easy {
  background-color: var(--light-green);
  border: 1px solid var(--light-green);
}

button.easy:hover {
  border: 1px solid var(--green);
}

button.medium {
  background-color: var(--light-blue);
  border: 1px solid var(--light-blue);
}

button.medium:hover {
  border: 1px solid var(--blue);
}

button.hard {
  background-color: var(--light-orange);
  border: 1px solid var(--light-orange);
}

button.hard:hover {
  border: 1px solid var(--orange);
}

button.impossible {
  background-color: var(--light-pink);
  border: 1px solid var(--light-pink);
}

button.impossible:hover {
  border: 1px solid var(--pink);
}

/* Loading State */
.loading-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--s-gap);
}

.loading-state > .paw-print {
  animation: grow-and-shrink 2000ms ease-in-out infinite alternate;
}

@keyframes grow-and-shrink {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}

/* Memory Game */
.memory-game {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 var(--m-gap);
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: var(--s-gap);
  width: 100%;
}

.card {
  padding: var(--s-gap);
  border-radius: var(--border-radius);
  height: 300px;
  background-color: var(--light-grey);
  border: 1px solid var(--light-grey);
}

.card:hover {
  border: 1px solid var(--grey);
}

.card > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--border-radius);
}

/* New Game */
.new-game {
  display: flex;
  flex-direction: column;
  gap: var(--s-gap);
  align-items: center;
  margin: auto;
  padding: var(--xl-gap);
  background-color: var(--light-grey);
  border-radius: var(--border-radius);
}

section .scores-container {
  display: flex;
  justify-content: space-around;
  gap: var(--m-gap);
  font-size: 1.5rem;
}

.buttons-container {
  display: flex;
  justify-content: space-around;
  gap: var(--s-gap);
}

.new-game-button {
  padding: var(--s-gap) var(--m-gap);
  border-radius: var(--border-radius);
  background-color: var(--black);
  border: 1px solid var(--black);
  color: #fff;
}

.new-game-button:hover {
  background-color: var(--light-black);
}

.change-level-button {
  padding: var(--s-gap) var(--m-gap);
  border-radius: var(--border-radius);
  background-color: var(--light-black);
  border: 1px solid var(--black);
  color: #fff;
}

@media (min-width: 751px) and (max-width: 850px) {
  :root {
    --xl-gap: 3rem;
  }

  .cards-container {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

  .card {
    height: 200px;
  }
}

@media (max-width: 750px) {
  :root {
    --xl-gap: 2rem;
  }

  .section-title {
    font-size: 2rem;
  }

  .levels {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .cards-container {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }

  .card {
    height: 150px;
    padding: 0.5rem
  }

  section .scores-container {
    font-size: 1.25rem;
  }

  .buttons-container {
    flex-direction: column-reverse;
    margin-top: var(--m-gap);
  }

  .change-level-button {
    padding: var(--s-gap);
    background-color: transparent;
    border: none;
    color: var(--black);
    text-decoration: underline;
  }
}

@media (max-width: 520px) {
  :root {
    --xl-gap: 2rem;
  }

  .navbar {
    justify-content: center;
  }

  .navbar .scores-container {
    display: none;
  }

  .section-title {
    font-size: 1.5rem;
  }
}

@media (max-width: 379px) {
  .cards-container {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  }
}