:root {
  --brown: #ad4c15;
  --light-grey: #eff1f5;
}

#root {
  min-width: 100vh;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

/* Header */
.navbar {
  display: flex;
  align-items: center;
  padding: 2rem;
  background-color: var(--light-grey);
}

.navbar > div {
  display: flex;
  gap: 1rem;
}

.title {
  font-size: 2rem;
  font-weight: bold;
}

.paw-print {
  fill: var(--brown);
  color: var(--brown);
}

.scores-container {
  margin-left: auto;
}
